/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2018, 12:25:56 PM
    Author     : jingl
*/
@font-face{
    font-family: openSansRegular;
    src: url(../css/fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: bold;
    src: url(../css/fonts/OpenSans-Bold.ttf);
}

body{
    font-family: openSansRegular;
}

#logo{
    float: left;
    width: 150px;
    height: 65px;
}

.navbar{
    padding: 0px 0px 30px 50px;
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 20px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: none;
    color: skyblue;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: deepskyblue;
    color: black;
}

.loginForm{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.userfeatures{
    margin-top: 50px;
    float: right;
    padding: 0px 0px;
}

/* Full-width input fields */
.modal input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal input[type=text]:focus, input[type=password]:focus, select:focus{
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0,0,0);
}

.modal input[type=text]:invalid:focus, input[type=password]:invalid:focus, select:invalid:focus{
    border-color: rgb(248,66,66);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
}

/* Set a style for all buttons */
button {
    background-color: #114BE9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;  
}

.container {
    padding: 16px;
    text-align: left;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.center{
    text-align: center;
}

.grid-container > div {
    text-align: left;
    font-size: 25px;
    font-family: bold;
}

.grid-container input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: openSansRegular;
}

.submitButton{
    background-color: #114BE9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submitButton:hover{
    opacity:0.8;
}
.deleteButton{
    height:50px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 0px;
    border: none;
    cursor: pointer;
}

#deleteButton:hover{
    opacity:0.8;
}

.grid-sem-name { grid-area: a;}
.grid-sem-desc{ grid-area: b;}
.grid-sem-name-input{ grid-area: c;}
.grid-sem-desc-input{grid-area: d;}
.grid-ven-name{grid-area: e;}
.grid-ven-loc{grid-area: f;}
.grid-ven-name-input{grid-area: g;}
.grid-ven-loc-input{grid-area: h;}
.grid-sem-date{grid-area: i;}
.grid-start{grid-area: j;}
.grid-end{grid-area: k;}
.grid-sem-date-input{grid-area: l;}
.grid-start-input{grid-area: m;}
.grid-end-input{grid-area: n;}
.grid-speaker{grid-area: o;}
.grid-host{grid-area: p;}
.grid-cover-photo{grid-area: q;}
.grid-speaker-input{grid-area: r;}
.grid-host-input{grid-area: s;}
.grid-image{grid-area: t;}
.grid-bio{grid-area: u;}
.grid-image-input{grid-area: v;}
.grid-bio-input{grid-area: w;}
.grid-submit{grid-area: x;}
.grid-delete{grid-area: y;}

.grid-container {
    display: inline-grid;
    grid-gap: 15px;
    padding-left: 30px;
    grid-template-areas:   
    'a a a a b'
    'c c c c d'
    'e e f f d'
    'g g h h d'
    'i j j k d'
    'l m m n d'
    'o o p p q'
    'r r s s t'
    'u u u u t'
    'w w w w t'
    'w w w w v'
    'z z x x y'; 
}

.grid-container .grid-submit{
    text-align: center;
}

.grid-container .grid-delete{
    text-align: center;
}

.grid-container .biotext{
    width:515px;
    height:165px;
}

.grid-container .desctext{
    width:330px;
    height:298px;
}

.grid-container textarea{
    border-radius: 5px;
    padding: 10px 10px;
    resize: none;
    font-family: openSansRegular;
}

.manage-page{
    margin: auto auto;
    width: 800px;
}

.add-id{ grid-area: a;}
.add-id-input{ grid-area: b;}
.add-role{grid-area:c;}
.add-role-input{ grid-area:d;}
.add-submit{grid-area:e;}
.add-cancel{grid-area:f}

#add-grid{
    display: inline-grid;
    grid-gap: 15px;
    padding-left: 30px;
    grid-template-areas:   
        '. a a .'
        '. b b .'
        '. c c .'
        '. d d .'
        'e e f f';
}

.add-role-input select{
    height: 40px;
    width: 330px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    font-family: openSansRegular;
}

.user-list{
    width: 100%;
    border: solid 1px #ddd;
    text-align: left;
    border-collapse: collapse;
 
}

.user-list thead, tbody{
    display:block;
}

.user-list tbody{
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 3px solid black;
}

.user-list tbody td, thead th {
    width: 20%; 
    border-right: 1px solid black;
}

.user-list tbody td:last-child, thead th:last-child {
    border-right: none;
}

.user-list th{
    padding: 15px;  
    height: 30px;
}

.user-list td{
    padding: 15px; 
    border-bottom: solid 1px #ddd;
}

.user-list tr:hover{
    background-color: #f5f5f5;
}

.manage-browse{ grid-area: z;}
.manage-fname{ grid-area: a;}
.manage-lname{ grid-area: b;}
.manage-fname-input{ grid-area: c;}
.manage-lname-input{ grid-area: d;}
.manage-email{ grid-area:e;}
.manage-email-input {grid-area:f;}
.manage-faculty{grid-area:g;}
.manage-faculty-input {grid-area:h;}
.manage-role{grid-area:i;}
.manage-role-input{grid-area:j;}
.manage-submit{grid-area:k;}
.manage-delete{grid-area:l;}

#manage-grid{
    display: inline-grid;
    grid-gap: 15px;
    padding-left: 30px;
    grid-template-areas:
        'z z'
        'a b'
        'c d'
        'e .'
        'f f'
        'g .'
        'h h'
        'i .'
        'j .'
        'k l';
}