/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2018, 12:25:56 PM
    Author     : jingl
*/
@font-face{
    font-family: SourceSansProRegular;
    src: url(../css/fonts/SourceSansPro-Regular.otf);
}

#logo{
    float:left;
    width: 150px;
    height: 65px;
}

.navbar{
    padding: 0px 0px 30px 50px;
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 60px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: deepskyblue;
    color: white;
}

.loginForm{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.userfeatures{
    margin-top: 50px;
    float: right;
    padding: 0px 0px;
}

.createSeminarBlock table{
    position: relative;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 30px;
    vertical-align: top;
    font-family: SourceSansProRegular;
    border: 1 solid;
    cellpadding: 5;
    cellspacing: 5;
}

.createSeminarBlock td{
    padding: 20px 0px 20px 0px;
    vertical-align: top;
}

.createSeminarBlock input{
    font-size: 15pt;
}

.createSeminarBlock textarea{
    font-size:20pt;
    height:150px;
    width:300px;
    text-align: left;
    vertical-align: auto;
}

#submitButton{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 0px;
    border: none;
    cursor: pointer;
}

#submitButton:hover{
    opacity:0.8;
}


/* Full-width input fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
